<center>
<img src="img/logo_med.png" alt="" style="width:610px;height:230px;margin-top: 80px;" class="img-responsive"/>
</center>

<h1 class="text-center" style="margin-top: -30px;">Mediatic</h1>
<div class="row">

<!--cssmatic pour perso la boite -->
<div class="wrap-login col-md-4 col-md-offset-4">
<h2 style="margin-bottom: 30px;">Enregistrer des Utilisateurs </h2>
<form>
  <div class="form-group">
    <label for="">Créer Un Utilisateur</label>

      <input type="text" class="form-control" id="" placeholder="Utilisateur" ng-model="user.login">

  </div>
  <div class="form-group">
    <label for="">Mot de Passe:</label>
      <input type="password" class="form-control" id="" placeholder="Mot de Passe" ng-model="user.password">
  </div>
 
	<div class="col-md-4 text-center col-md-offset-4"> 
      <button type="submit" class="btn-login btn btn-primary" ng-click="enregistrer()">Enregistrer </button>
</div>
</form>

</div>
</div>
</div>