<div class="container">
	<div class="panel panel-primary" style="margin-top: 40px;">
		<div class="panel panel-heading">Ajouter Adherent</div>
		<form class="form-horizontal" name="ajoutForm" ng-submit="ajouterAdherent()" novalidate>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="nom">Nom :</label>
				<div class=" col-sm-10">
					<input type="text" class="form-control" ng-model="nom" id="nom" placeholder="Enter Nom" name="nom" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="nom">Prenom :</label>
				<div class=" col-sm-10">
					<input type="text" class="form-control" ng-model="prenom" id="prenom" placeholder="Enter Prenom" name="prenom" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Date Naissance :</label>
				<div class=" col-sm-10">

					<input type="date" class="form-control" ng-model="date" id="date" name="date">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Age :</label>
				<div class=" col-sm-10">

					<input type="number" class="form-control" ng-model="age" id="age" name="age" disabled>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="auteur">E-mail :</label>
				<div class=" col-sm-10">

					<input type="text" class="form-control" ng-model="email" id="email" placeholder="Enter E-mail" name="email" required>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Adresse :</label>
				<div class=" col-sm-10">

					<input type="text" class="form-control" ng-model="adress" id="adress" placeholder="Enter Adresse " name="adress">
				</div>

			</div>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Code Postale :</label>
				<div class=" col-sm-10">

					<input type="number" class="form-control" ng-model="codeP" id="codeP" placeholder="Entrer Code Postale " name="codeP">
				</div>

			</div>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="ville">Entrer Ville :</label>
				<div class=" col-sm-10">

					<input type="text" class="form-control" ng-model="ville" id="ville" placeholder="Enter Ville " name="ville">
				</div>

			</div>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Date Payement de la cotisation :</label>
				<div class=" col-sm-10">

					<input type="date" class="form-control" ng-model="datep" id="datep" name="datep">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Date de Fin d’Abonnement :</label>
				<div class=" col-sm-10">

					<input type="date" class="form-control" ng-model="datef" id="montant" name="datef" disabled>
				</div>
			</div>


			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="date">Montant de Cotisation :</label>
				<div class=" col-sm-10">

					<input type="number" class="form-control" ng-model="montant" placeholder="Enter Montant de la Cotisation" id="montant" name="montant">
				</div>
			</div>




			<div class="form-group ">
				<div class="col-sm-12 ">

					<button type="submit" class="btn btn-primary col-sm-offset-5 col-sm-3" ng-disabled="ajoutForm.$invalid">Enregistrer</button>

				</div>
			</div>
		</form>

		<pre>
			{{ajoutForm|json}}
			</pre>
	</div>
</div>