<div class="container">
    <div class="panel panel-primary">
        <div class="panel panel-heading">Description Media</div>
        <form class="form-horizontal" >

            <div class="form-group">
                <label class="control-label hidden-xs col-sm-2" for="titre">Titre :</label>
                <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="titre" placeholder="Enter Titre" name="titre" disabled="disabled">

                </div>
                <div class="col-sm-2 col-xs-4">
                    <a href="ajoutEmprunt.html" class="btn  btn-primary col-sm-12 col-xs-12" role="button" ng-click=""> Emprunter</a>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label hidden-xs col-sm-2" for="auteur">Auteur :</label>
                <div class="col-sm-8 col-xs-6">
                    <input type="text" class="form-control" id="auteur" placeholder="Enter Auteur" name="auteur" disabled="disabled">
                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="submit" class="btn btn-primary  col-sm-12 col-xs-12" ng-click="modifierMedia()">
						Modifier</button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label hidden-xs col-sm-2" for="media">Media :</label>
                <div class="col-sm-8 col-xs-6">
                    <select class="form-control" disabled="disabled"ng-model="type">
						<option>LIVRE</option>
						<option>CD</option>
						<option>DVD</option>

					</select>

                </div>
                <div class="col-sm-2 col-xs-4">
                    <button type="submit" class="btn btn-primary disabled col-sm-12 col-xs-12" ng-click="modifierMedia()">
						Enregistrer</button>
                </div>
            </div>

            <table class="table table-hover" data-toggle="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ABC</td>
                        <td>ABC</td>
                        <td>ABC</td>
                    </tr>
                   
                </tbody>
            </table>

        </form>



    </div>
</div>