<div class="container">
	<div class="panel panel-primary">
		<div class="panel panel-heading">Description Media</div>
		<form class="form-horizontal" name="formDetail" novalidate>

			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="titre">Titre
					:</label>
				<div class="col-sm-8 col-xs-6">
					<input type="text" class="form-control" id="titre"
						placeholder="Enter Titre" name="titre" ng-model="media.titre"
						ng-disabled="disabled" required>

				</div>
				<div class="col-sm-2 col-xs-4">
					<button class="btn  btn-primary col-sm-12 col-xs-12"
						ng-click="emprunter()" ng-disabled="!autorisee">Emprunter</button>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="auteur">Auteur
					:</label>
				<div class="col-sm-8 col-xs-6">
					<input type="text" class="form-control" id="auteur"
						placeholder="Enter Auteur" name="auteur" ng-model="media.auteur"
						ng-disabled="disabled" required>
				</div>
				<div class="col-sm-2 col-xs-4">
					<button class="btn btn-primary  col-sm-12 col-xs-12"
						ng-click="disabled=false">Modifier</button>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label hidden-xs col-sm-2" for="media">Media
					:</label>
				<div class="col-sm-8 col-xs-6">
					<select class="form-control" ng-model="media.type"
						ng-disabled="disabled" required>
						<option>LIVRE</option>
						<option>CD</option>
						<option>DVD</option>

					</select>

				</div>
				<div class="col-sm-2 col-xs-4">
					<button class="btn btn-primary col-sm-12 col-xs-12"
						ng-click="enregistrerMedia()"
						ng-disabled="disabled || formDetail.$invalid || formDetail.$pristine">
						Enregistrer</button>
				</div>
			</div>
			<table class="table table-hover" data-toggle="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Prenom</th>
						<th>Date De Naissance</th>
						<th>A Jour Cotisation</th>



					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="empr in media.emprunt track by $index">
						<td>{{empr.adherent.id }}</td>
						<td>{{empr.adherent.nom}}</td>
						<td>{{empr.adherent.prenom}}</td>
						<td>{{empr.adherent.dateNaissance}}</td>
						<td>{{empr.adherent.ajour}}</td>
					</tr>

				</tbody>
			</table>

		</form>



	</div>
</div>