<div class="container-fluid">
    <div class="row ">
        <div id="critere" class="col-lg-3 sidenav" ng-if="checkBox">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">Recherche  Media</a></li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                        <input id="msg" type="text" class="form-control" ng-model="search.titre" name="msg" placeholder="Nom du titre">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="msg" type="text" class="form-control " ng-model="search.auteur" name="msg" placeholder="Nom de l'auteur">
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-film"></i></span>
                        <select class="form-control" ng-model="selected">
							<option>LIVRE</option>
							<option>CD</option>
							<option>DVD</option>
							</select>
                    </div>
                </li>
                <li>


                    <button class="btn btn-primary btn-lg pull-right" ng-click="searchBy()"> Rechercher </button>

                </li>

            </ul>

        </div>

        <div class="container">
            <img src="img/logo_med2.png" class="img-responsive center-block" />
            <div class="container-fluid">
                <div class="input-group">
                    <input type="text" class="form-control " aria-label="..." ng-model="search.keyword">
                    <span class="input-group-addon" ng-click="searchAll()"> <i class="glyphicon glyphicon-search"></i></span>

                </div>
                <div class="col-xs-offset-10">
                    <input type="checkbox" name="checkBox" ng-model="checkBox">Plus de criteres
                </div>

            </div>
            <div class="container-fluid ">
                <div class="well-sm h6">Afficher :
                    <select>
				<option>10</option>
				<option>25</option>
				<option>50</option>
				<option>100</option>
				</select> Adherents

                </div>



                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="text-center">MEDIA</h3>

                    </div>

                    <table class="table table-hover table-bordered " data-toggle="table">

                        <thead>
                            <tr class="text-primary text-uppercase">
                                <th class="container ">#Id<a ng-click="sortId()" class="pull-right">
										<span  class="glyphicon glyphicon-sort"></span>
								</a></th>
                                <th class="container">Titre <a ng-click="sortTitre()" class="pull-right">
										<span class="glyphicon glyphicon-sort"  ></span>
								</a>
                                </th>
                                <th class="container">Auteur<a ng-click="sortAuteur()" class="pull-right">
										<span class="glyphicon glyphicon-sort"  ></span>
								</a></th>

                                <th class="container">Type de Media<a ng-click="sortType()" class="pull-right">
										<span class="glyphicon glyphicon-sort"  ></span>
								</a></th>
                                <th class="container">Emprunte Par<a ng-click="sortEmpruntePar()" class="pull-right">
										<span class="glyphicon glyphicon-sort" ></span>
								</a></th>
                                <th class="container">Date Retour Prevue<a ng-click="sortDateRetourPrevue()" class="pull-right">
                                     <span class="glyphicon glyphicon-sort" ></span>
								</a></th>

                            </tr>
                        </thead>
                       
                        <tbody class="text-primary">
                            <tr ng-repeat="response in dataMedia |filter track by $index " ng-click="afficherMediaDetail($index)">
                                <td> {{response.id }}</td>
                                <td> {{response.titre |uppercase }}</td>
                                <td> {{response.auteur}}</td>
                                <td> {{response.type}}</td>
                                <td> {{response.empruntEnCours.adherent.nom}} {{response.empruntEnCours.adherent.prenom}}</td>
                                <td> {{response.empruntEnCours.dateRetourPrevue |  date:'yyyy-MM-dd' }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>


            </div>
            <div class="text-center">
                <nav aria-label="Page navigation">

                    <ul class="pagination-lg pager">
                        <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Precedent</a></li>
                        <li class="next"><a href="#">Suivant <span aria-hidden="true">&rarr;</span></a></li>
                        <li>
                            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
      </a>
                        </li>
						<li><a ng-click="change($index)" ng-repeat="(x,y) in range track by $index">{{$index+1}}</a></li>
                      <!--   <li><a href="#">2</a></li>
                        <li><a href="#" class="hidden-xs">3</a></li>
                        <li><a href="#" class="hidden-xs">4</a></li>
                        <li><a href="#" class="hidden-xs">5</a></li>
 -->
                        <li>
                            <a href="#" aria-label="Next">
                 <span aria-hidden="true">&raquo;</span>
      </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </div>



    </div>

</div>